include ../mixins/sub-menu.pug
header.header 
  .contaiter
    .align-item-center.menu
      div.inner-logo
          a(href="/")
            img(src="/img/logo.jpg",alt="logo")
      div.inner-menu
          ul
            li
              a(href="/") Trang Chủ
            li(class="sub-menu") 
              -const pathProduct = "/products" 
              a(href=pathProduct) Sản Phẩm
                +sub-menu(layoutProductsCategory, pathProduct)
              