header.header 
  .contaiter
    .row.align-item-center
      .col-3
        .inner-logo
          a(href="/")
            img(src="/img/logo.jpg",alt="logo")
      .col-9 
        .inner-menu
          ul
            li
              a(href="/") Trang Chủ
            li  
              a(href="/product") Sản Phẩm