.header {
    background-color: #050e177f;
    padding: 10px 0;

}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 10px;
    padding-left: 0px;
}

ul li {
    margin-left: 10px;
    margin-top: 2px;
    border-bottom: 1px solid black;
    width: 100%;
}

ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.footer {
    width: 100%;
    background-color: #050e177f;
    color: aliceblue;
    font-weight: bold;
    text-align: center;
    height: 30px;
}

.col-3 .inner-logo a {
    color: #f9f9f9;
    font-weight: bold;
}

.body .row .col-3 {
    background-color: #050e1732;
    min-height: 500px;
}

th,
td {
    font-size: 20px;
}

/* Tìm Kiếm */
.card-header {
    font-size: 25px;
}