.header {
    background-color: #050e177f;
    padding: 10px 0;

}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 10px;
    padding-left: 0px;
}

ul li {
    margin-left: 10px;
    margin-top: 2px;
    border-bottom: 1px solid black;
    width: 100%;
}

ul li a:hover {
    color: rgb(206, 243, 129);
    background-color: #70726a;
    text-decoration: none;
}

ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.footer {
    width: 100%;
    background-color: #050e177f;
    color: aliceblue;
    font-weight: bold;
    text-align: center;
    height: 30px;
}

.col-3 .inner-logo a {
    color: #f9f9f9;
    font-weight: bold;
}

.body .row .col-3 {
    background-color: #050e1732;
    min-height: 500px;
}

th,
td {
    font-size: 20px;
}

/* Tìm Kiếm */
#form-search {
    display: flex !important;
}

.card-header {
    font-size: 25px;
}

.split-page>li {
    font-size: 15px;
    width: auto;
}

.split-page {
    display: flex;
    flex-wrap: nowrap
}

.page-change {
    display: flex;
    justify-content: center;
}

.trash-icon {
    margin-top: 13px;
}

.btn-trash {
    text-align: center;
    height: 40px;
    width: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    border: 2px solid black;
    text-decoration: none;
    display: block;
}

.btn-trash:hover {
    text-decoration: none;
}

/* Start Show Alert */
[show-alert] {
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 9999;
}

[show-alert].alert-hidden {
    animation-name: alert-hidden;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes alert-hidden {
    from {
        right: 15px;
    }

    to {
        right: -100%;
        display: none;
    }
}

[show-alert] [close-alert] {
    background: #ffffff;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 600px;
}

/* End Show Alert */
/* Add Item */
.add-item {
    margin-bottom: 18px;
}

/* Image input */
.image-preview {
    width: 150px;
    height: auto;
    margin-top: 15px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}

.image-preview[src=""] {
    display: none;
}

table tbody tr td a {
    margin-left: 5px;
}

/* Login */
.login {
    background-image: url(../../uploads/1723980989030+20-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.cover-login .row {
    width: 100%;
}

.cover-login {
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
}