.header {
    background-color: #050e177f;
    padding: 10px 0;

}

.form-search-header {}

.menu {
    display: flex;
    justify-content: space-between;
}

.inner-logo {
    padding-left: 20px;
    margin-left: 20px;
}

.inner-menu {
    margin-right: 20px;
}

.header .inner-logo img {
    max-height: 50px;
    border-radius: 50%;
}

.header .inner-menu ul {
    list-style: none;
    margin: 0;
    padding-top: 10px;
}

.header .inner-menu ul li {
    margin-left: 20px;
}

.header .inner-menu ul li a {
    text-decoration: none;
    color: #e7e7e7;
    font-weight: bold;
}

.header .inner-menu ul li a:hover {
    color: #000000;
    /* Màu đỏ nổi bật khi hover */
    transition: color 0.3s ease;
}

.footer {
    width: 100%;
    background-color: #050e177f;
    color: aliceblue;
    font-weight: bold;
    text-align: center;
    height: 30px;
}

.content {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Danh sách sản phẩm */
.product-item {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.inner-image img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.inner-image {
    position: relative;
}

.inner-image .inner-featured {
    position: absolute;
    top: 2px;
    right: 1px;
    background-color: #2ecc71;
    padding: 5px;
    border-radius: 3px;
    font-size: 15px;
    color: white;
}

.inner-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.inner-price-new {
    color: #e74c3c;
    font-size: 16px;
    margin-top: 5px;
}

.inner-price-old {
    color: #7f8c8d;
    text-decoration: line-through;
    font-size: 14px;
    margin-top: 5px;
}

.inner-discount {
    color: #2ecc71;
    font-size: 14px;
    margin-top: 5px;
}

.col-3 .inner-logo a {
    color: #f9f9f9;
    font-weight: bold;
}

/* Chi Tiết Sản Phẩm */
.detial {
    margin-left: 20px;
}

.inner-image img {
    height: 300px;
}

/*sub-menu */
.sub-menu {
    position: relative;
    z-index: 999;
}

.sub-menu ul {
    position: absolute;
    right: 0;
    top: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #82878b;
    min-width: 180px;
    display: none;
    border: 1px solid rgb(255, 255, 255);
}

.sub-menu ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd
}

.sub-menu:hover>ul {
    display: block;
}

.sub-menu ul li {
    position: relative;
}

.sub-menu ul li ul {
    right: 100%;
    top: 0;
}

.sub-menu ul li:hover>ul {
    display: block;
}


/* End sub-menu */
h2 {
    color: #2ecc71;
}

/* Detail Product */
.infor-img .inner-thumb img {
    width: 100%;
    height: 500px;
}

.infor .inner-title {
    font-size: 45px
}

.infor .inner-category {
    font-size: 20px;
}

.infor .inner-price-new {
    font-size: 25px;
}

.infor .inner-price-new b {
    padding: 10px;
    background-color: rgb(255, 7, 7);
    border-radius: 5px;
    color: #e7e7e7;
}

.infor .inner-price-old {
    font-size: 20px;
}

.infor .inner-percent {
    font-size: 20px
}

.infor .inner-percent b {
    padding: 10px;
    background-color: rgb(0, 199, 0);
    border-radius: 5px;
    color: #e7e7e7;
}

.infor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}

.infor-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}