extends ../../layouts/defaut
include ../../mixins/table-tree.pug

block main
    h1 Danh Mục Sản Phẩm
        .card.mb-3 
            .card-header Danh sách
                .card-body
                .row 
                    .col-8 
                    .col-4
                        a(
                            href=`${prefixAdmin}/products-category/create`
                            class="btn btn-outline-success add-item"
                        ) + Thêm Mới 
        .card.mb-3 
        table( 
            class="table table-hover table-sm"
            checkbox-multi
        )
            thead
                th  
                input(type="checkbox", name="checkall")
                th STT
                th Hình Ảnh
                th Tiêu Đề
                th Vị Trí
                th Trạng Thái
                th Hành Động
                tbody
                    +table-tree(record)


//- _id
//- title
//- parent_id
//- description
//- thumbnail 
//- status 
//- position 
//- deleted 
//- deletedAt
//- createdAt
//- updatedAt 
//- slug